$color-light: white;
$color-dark: red;
$line-width: 1px;
$border-radius: 5rem;
$gap-medium: 2.5rem; 

$snap-offset: 50%;
$snap-force: 9; // nombre impaire!

@function customPow($value, $amt) {
  $res: $value;
  @for $i from 2 through $amt {
    $res: "#{$res} * #{$value}";
  }

  @return $res;
}

html,
body {
  --scroll: 0;
  width: 100%;
  height: 100%;
  background-color: $color-dark;
  color: $color-dark;
  font-family: Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: scroll;
  // border-radius: $border-radius;
}

.slide {  
  position: sticky;
  width: 100%;
  height: 100%;
  top: 0;
  --amt: (var(--index) - var(--scroll));
  transform: translateY(calc(#{$snap-offset} * #{customPow(var(--amt), $snap-force)}));
  transition: transform 0.05s;
  background-color: $color-dark;
}

.slide::before {
  content: "";
  position: absolute;
  bottom: 100%;
  height: $border-radius;
  left: 0;
  width: 100%;
  border-radius: 0 0 $border-radius $border-radius;
  box-shadow: -$border-radius 1px 0 0 $color-dark, $border-radius 1px 0 0 $color-dark;
}
.slide__card {
  position: relative;
  outline: $line-width solid $color-dark;
  outline-offset: -$line-width;
  padding: $gap-medium;
  overflow: hidden;
  background: $color-light;
  border-radius: $border-radius;
  width: 100%;
  height: 100%;
}
